{
  "semi": false,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "printWidth": 100,
  "endOfLine": "lf",
  "importOrder": ["^@zendeskgarden/", "^@zendesk/", "^src", "^[../]", "^[./]"]
}
